<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login | Minimalist</title>
    <link rel="stylesheet" href="../../../styles/group_admin/admin_input_password.css">
    <link rel="icon" type="image/x-icon" href="../../../asset/icons/main_logo_2.png">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="header">
                <h2>SYSTEM ACCESS</h2>
                <p>Vui lòng đăng nhập quyền quản trị</p>
            </div>
            
            <form>
                <div class="input-group">
                    <input type="text" id="username" required placeholder=" ">
                    <label for="username">Tài khoản</label>
                    <span class="highlight"></span>
                </div>

                <div class="input-group">
                    <input type="password" id="password" required placeholder=" ">
                    <label for="password">Mật khẩu</label>
                    <span class="highlight"></span>
                </div>

                <button type="submit" class="login-button">ĐĂNG NHẬP</button>
            </form>

            <div class="options">
                <a href="#" onclick="window.location.href = '../group_password/input_pass.html'">Trở về trang chủ</a>
                <a href="#">Quên mã truy cập?</a>
            </div>
        </div>
    </div>
    <script src="../../javascript/group_password/effect/input_pass_effect/canh_bao.js"></script>
</body>
</html>